@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-cormorant: var(--font-cormorant);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.hero-title {
  font-size: 42px;
  line-height: 1.15;
  font-weight: 510;
  

  @media (min-width: 768px) {
    font-size: 58px;
    line-height: 1.2;
  }

  @media (min-width: 1024px) {
    font-size: 64px;
  }

  @media (min-width: 1280px) {
    font-size: 64px;
    font-weight: 400;
  }
}

.hero-desc {
  font-size: 42px;
  line-height: 1.15;
  font-weight: 510;
  

  @media (min-width: 768px) {
    font-size: 58px;
    line-height: 1.2;
  }

  @media (min-width: 1024px) {
    font-size: 64px;
  }

  @media (min-width: 1280px) {
    font-size: 16px;
    font-weight: 400;
  }
}

.section-title {
  font-size: 38px;
  line-height: 1.2;
  font-weight: 510;

  @media (min-width: 768px) {
    font-size: 3.5rem;
  }

  @media (min-width: 1024px) {
    font-size: 4rem;
    line-height: 80px;
  }

  @media (min-width: 1280px) {
    font-size: 64px;
    line-height: 77px;
  }
}

.section-heading {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 350;
  font-family: 'Inter', sans-serif;

  @media (min-width: 768px) {
    font-size: 36px;
  }

  @media (min-width: 1024px) {
    font-size: 38px;
  }

  @media (min-width: 1280px) {
    font-size: 60px;
    font-weight: 400;
  }
}

.regular-heading {
  font-size: 24px;
  font-weight: 350;
  font-family: 'Inter', sans-serif;


  @media (min-width: 768px) {
    font-size: 26px;
  }

  @media (min-width: 1024px) {
    font-size: 26px;
  }
   @media (min-width: 1280px) {
    font-size: 24px;
  
  }
}

.para-text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
 font-family: 'Inter', sans-serif;

  @media (min-width: 768px) {
    font-size: 15px;
  }

  @media (min-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }

  @media (min-width: 1280px) {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
  }
}

.small-text {
  font-size: 16px;
  line-height: 1.4;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.normal-text {
  font-size: 15px;
  line-height: 28px;
  font-weight: 350;
  letter-spacing: 0.02em;
  font-family: 'Inter', sans-serif;

  @media (min-width: 768px) {
    font-size: 15px;
  }

  @media (min-width: 1024px) {
    font-size: 15px;
  }

  @media (min-width: 1280px) {
    font-size: 18px;
  }
}




/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}


@keyframes logo-scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-logo-scroll {
  animation: logo-scroll 18s linear infinite;
}
